@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>St Nicholas Hospital Management System</h1>
    <p class="lead">This is a Simple Hospital Management System (HMS) developed with ASP.NET MVC 5</p>
    <p><a href="@Url.Action("index", "desk")" class="btn btn-primary btn-lg">Start</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click on the Desk button to start
        </p>
    </div>
</div>